extends layout.pug

block content 
    h1 Welcome to Alarm Clockify #{user.display_name}! 
    h2 Use your Spotify Playlists as your alarm 

    table 
      each p in playlists 
        tr 
          - var playlist_name = p.name
          - var playlist_tracks = p.tracks.href 

          td #{playlist_name}
          td #{playlist_tracks}


    //- form(action="/set_alarm", method="post")
    //-   label(for="alarm_time") Alarm Time: 
    //-   input(type="time", id="alarm_time", name="alarm_time", required)
    //-   br
    //-   br
    //-   label(for="playlist_id") Select Playlist: 
    //-   select(id="playlist_id", name="playlist_id", required)
    //-   br
    //-   br
    //-   label(for="song_id") Select Song: 
    //-   select(id="song_id", name="song_id", required)
    //-   br
    //-   br
    //-   button(type="submit") Set Alarm
